<section class="hero has-bg-image" aria-label="home" style="background-image: url('../../assets/images/hero-bg.jpg')">
    <div class="container">

      <div class="hero-content">

        <p class="section-subtitle :dark">We have talented engineers & mechanics</p>

        <h1 class="h1 section-title">Auto Maintenance & Repair Service</h1>

        <p class="section-text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse Excepteur sint occaecat cupidatat non
          proident.
        </p>

        <a href="#" class="btn">
          <span class="span">Our Services</span>

          <span class="material-symbols-rounded">arrow_forward</span>
        </a>

      </div>

      <figure class="hero-banner" style="--width: 1228; --height: 789;">
        <img src="../../assets/images/hero-banner.png" width="1228" height="789" alt="red motor vehicle"
          class="move-anim">
      </figure>

    </div>
  </section>