<section class="section service has-bg-image" aria-labelledby="service-label"
style="background-image: url('../../assets/images/service-bg.jpg')">
<div class="container">

  <p class="section-subtitle :light" id="service-label">Our services</p>

  <h2 class="h2 section-title">We Provide Great Services For your Vehicle</h2>

  <ul class="service-list">

    <li>
      <div class="service-card">

        <figure class="card-icon">
          <img src="../../assets/images/services-1.png" width="110" height="110" loading="lazy" alt="Engine Repair">
        </figure>

        <h3 class="h3 card-title">Engine Repair</h3>

        <p class="card-text">
          Autem velaum iure reare aenderit rui in ea roluptate esse ruam moles
        </p>

        <a href="#" class="btn-link">Read more</a>

      </div>
    </li>

    <li>
      <div class="service-card">

        <figure class="card-icon">
          <img src="../../assets/images/services-2.png" width="110" height="110" loading="lazy" alt="Brake Repair">
        </figure>

        <h3 class="h3 card-title">Brake Repair</h3>

        <p class="card-text">
          Autem velaum iure reare aenderit rui in ea roluptate esse ruam moles
        </p>

        <a href="#" class="btn-link">Read more</a>

      </div>
    </li>

    <li>
      <div class="service-card">

        <figure class="card-icon">
          <img src="../../assets/images/services-3.png" width="110" height="110" loading="lazy" alt="Tire Repair">
        </figure>

        <h3 class="h3 card-title">Tire Repair</h3>

        <p class="card-text">
          Autem velaum iure reare aenderit rui in ea roluptate esse ruam moles
        </p>

        <a href="#" class="btn-link">Read more</a>

      </div>
    </li>

    <li>
      <div class="service-card">

        <figure class="card-icon">
          <img src="../../assets/images/services-4.png" width="110" height="110" loading="lazy"
            alt="Battery Repair">
        </figure>

        <h3 class="h3 card-title">Battery Repair</h3>

        <p class="card-text">
          Autem velaum iure reare aenderit rui in ea roluptate esse ruam moles
        </p>

        <a href="#" class="btn-link">Read more</a>

      </div>
    </li>

    <li class="service-banner">
      <img src="../../assets/images/services-5.png" width="646" height="380" loading="lazy" alt="Red Car"
        class="move-anim">
    </li>

    <li>
      <div class="service-card">

        <figure class="card-icon">
          <img src="../../assets/images/services-6.png" width="110" height="110" loading="lazy"
            alt="Steering Repair">
        </figure>

        <h3 class="h3 card-title">Steering Repair</h3>

        <p class="card-text">
          Autem velaum iure reare aenderit rui in ea roluptate esse ruam moles
        </p>

        <a href="#" class="btn-link">Read more</a>

      </div>
    </li>

  </ul>

  <a href="#" class="btn">
    <span class="span">View All Services</span>

    <span class="material-symbols-rounded">arrow_forward</span>
  </a>

</div>
</section>
