<section class="section work" aria-labelledby="work-label">
    <div class="container">

      <p class="section-subtitle :light" id="work-label">Our Work</p>

      <h2 class="h2 section-title">Latest projects we have done</h2>

      <ul class="has-scrollbar">

        <li class="scrollbar-item">
          <div class="work-card">

            <figure class="card-banner img-holder" style="--width: 350; --height: 406;">
              <img src="../../assets/images/work-1.jpg" width="350" height="406" loading="lazy" alt="Engine Repair"
                class="img-cover">
            </figure>

            <div class="card-content">
              <p class="card-subtitle">Auto Repair</p>

              <h3 class="h3 card-title">Engine Repair</h3>

              <a href="#" class="card-btn">
                <span class="material-symbols-rounded">arrow_forward</span>
              </a>
            </div>

          </div>
        </li>

        <li class="scrollbar-item">
          <div class="work-card">

            <figure class="card-banner img-holder" style="--width: 350; --height: 406;">
              <img src="../../assets/images/work-2.jpg" width="350" height="406" loading="lazy" alt="Car Tyre change"
                class="img-cover">
            </figure>

            <div class="card-content">
              <p class="card-subtitle">Auto Repair</p>

              <h3 class="h3 card-title">Car Tyre change</h3>

              <a href="#" class="card-btn">
                <span class="material-symbols-rounded">arrow_forward</span>
              </a>
            </div>

          </div>
        </li>

        <li class="scrollbar-item">
          <div class="work-card">

            <figure class="card-banner img-holder" style="--width: 350; --height: 406;">
              <img src="../../assets/images/work-3.jpg" width="350" height="406" loading="lazy" alt="Battery Adjust"
                class="img-cover">
            </figure>

            <div class="card-content">
              <p class="card-subtitle">Auto Repair</p>

              <h3 class="h3 card-title">Battery Adjust</h3>

              <a href="#" class="card-btn">
                <span class="material-symbols-rounded">arrow_forward</span>
              </a>
            </div>

          </div>
        </li>

      </ul>

    </div>
  </section>